{% extends 'OR_web_GUI/base.html' %}

{% block content %}

<p>Inputs</p>

<a href="{% url 'OR_web_GUI:new_input' %}">Add a new Input</a>

<ul>
    {% for input in inputs %}
        <li>{{ input }} <a href="{% url 'OR_web_GUI:state_toggle' 'Input' input.id %}">Trigger Input</a></li>
            <ul>
                {% for rule in input.rule_set.all %}
                    <li>{{ rule }}</li>
                        <ul>
                            {% if status[rule.output.pk].item %}
                                <li><font color="green">{{ rule.output }} </font></li>
                            {% elif not status{rule.output.pk] %}
                                <li><font color="red">{{ rule.output }} </font></li>
                            {% else %}
                                <li>{{rule.output}}</li>
                            {% endif %}
                        </ul>
                {% endfor %}
            </ul>
    {% empty %}
        <li>No inputs have been created</li>
    {% endfor %}
</ul>

{% endblock content %}

{% block javascript %}
    {{ block.super }} {# includes previous content in block #}
    {# view-specific imports here #}
{% endblock %}