{% extends 'OR_web_GUI/base.html' %}

{% block content %}

<p>Inputs</p>

<a href="{% url 'OR_web_GUI:new_input' %}">Add a new Input</a>
{% regroup rules by input as input_list %}

<p>Inputs in Rules</p>
<ul>
    {% for input in input_list %}
        <li>{{ input.grouper }} <a href="{% url 'OR_web_GUI:state_toggle' 'Input' input.grouper.id %}">Trigger Input</a></li>
            <ul>
                {% for rule in input.list %}
                    <li>{{ rule }}</li>
                        <ul>
                        {% if rule.output.state and rule.output.state != null %}
                            <li><font color="green">{{ rule.output }} </font></li>
                        {% elif not rule.output.state and rule.output.state != null %}
                            <li><font color="red">{{ rule.output }} </font></li>
                        {% elif rule.output.state == null %}
                            <li>{{ rule.output }} State was Null</li>
                        {% else %}
                            <li>{{rule.output}}</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </ul>
    {% endfor %}
</ul>

<p>All Inputs</p>
<ul>
    {% for input in inputs %}
        <li>{{input}}</li>
    {% empty %}
        <li>No Inputs Created  <a href="{% url 'OR_web_GUI:new_input' %}">Add an Input</a></li>
    {% endfor %}
</ul>
{% endblock content %}

{% block javascript %}
    {{ block.super }} {# includes previous content in block #}
    {# view-specific imports here #}
{% endblock %}