{% extends 'OR_web_GUI/base.html' %}

{% block content %}

<p>Outputs - (green is HIGH, red is LOW)</p>
<a href="{% url 'OR_web_GUI:new_output' %}">Add a new Output</a>


<ul>
    {% for output in outputs %}
        {% if output.state %}
            <li><font color="green">{{ output }} </font><a href="{% url 'OR_web_GUI:state_toggle' output.id %}">Toggle Output</a></li>
        {% else %}
            <li><font color="red">{{ output }} </font><a href="{% url 'OR_web_GUI:state_toggle' output.id %}">Toggle Output</a></li>
        {% endif %}
    {% empty %}
        <li>No outputs have been created</li>
    {% endfor %}
</ul>

{% endblock content %}