{% extends 'OR_web_GUI/base.html' %}

{% block content %}

<p>Rules</p>
<a href="{% url 'OR_web_GUI:new_rule' %}">Add a new rule</a>

<ul>
    {% for rule in rules %}
        <li>{{ rule }} <a href="{% url 'OR_web_GUI:state_toggle' 'Rule' rule.id %}">Trigger Rule</a></li>
            <ul>
                {% if rule.output.state and rule.output.state != null %}
                    <li><font color="green">{{ rule.output }} </font></li>
                {% elif not rule.output.state and rule.output.state != null %}
                    <li><font color="red">{{ rule.output }} </font></li>
                {% else %}
                    <li>{{rule.output}}</li>
                {% endif %}
            </ul>
    {% empty %}
        <li>No Rules have been created</li>
    {% endfor %}
</ul>

{% endblock content %}

{% block javascript %}
    {{ block.super }} {# includes previous content in block #}
    {# view-specific imports here #}
{% endblock %}